{% if site.data.navigation and site.data.navigation.main %}
  <div class="page__footer-nav">
    {% for item in site.data.navigation.main %}
      <a href="{{ item.url | relative_url }}">{{ item.title | escape_once | strip }}</a>{% unless forloop.last %} <span class="pipe" aria-hidden="true">|</span> {% endunless %}
    {% endfor %}
  </div>
{% endif %}

{% unless site.atom_feed.hide %}
  {% assign show_atom = true %}
{% endunless %}
{% if site.footer.links or show_atom %}
<div class="page__footer-follow">
  <ul class="social-icons">

    {% if site.footer.links %}
      {% for link in site.footer.links %}
        {% if link.label and link.url %}
          {% assign link_url = link.url %}
          {% unless link_url contains '://' or link_url contains 'mailto:' or link_url contains 'tel:' %}
            {% assign link_url = link_url | relative_url %}
          {% endunless %}
          <li><a href="{{ link_url }}" rel="nofollow noopener noreferrer"><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i> {{ link.label | escape_once | strip }}</a></li>
        {% endif %}
      {% endfor %}
    {% endif %}
  </ul>
  </div>
{% endif %}


<div class="page__footer-copyright">&copy; {% assign site_time = site.time | date: '%Y' %}{% if site.footer.since and site_time != site.footer.since %}{{ site.footer.since }} - {% endif %}{{ site_time }} <a href="{{ site.copyright_url | default: site.url }}">{{ site.copyright | default: site.title | escape_once | strip }}</a>. Built by Michael Miller.</div>
